{% apply spaceless %}
    <div class="ui stackable fluid pagination menu">
        {# Previous Page Link #}
        {% if pagerfanta.hasPreviousPage() %}
            <a class="item prev" href="{{ route_generator.route(pagerfanta.getPreviousPage()) }}">{{ 'previous'|trans([], 'pagerfanta') }}</a>
        {% else %}
            <div class="item disabled">{{ 'previous'|trans([], 'pagerfanta') }}</div>
        {% endif %}

        {# First Page Link #}
        {% if start_page > 1 %}
            <a class="item" href="{{ route_generator.route(1) }}">1</a>
        {% endif %}

        {# Second Page Link, displays if we are on page 3 #}
        {% if start_page == 3 %}
            <a class="item" href="{{ route_generator.route(2) }}">2</a>
        {% endif %}

        {# Separator, creates a "..." separator to limit the number of items if we are starting beyond page 3 #}
        {% if start_page > 3 %}
            <div class="item disabled">&hellip;</div>
        {% endif %}

        {# Page Links #}
        {% for page in range(start_page, end_page) %}
            {% if page == current_page %}
                <div class="item active">{{ page }}</div>
            {% else %}
                <a class="item" href="{{ route_generator.route(page) }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {# Separator, creates a "..." separator to limit the number of items if we are over 3 pages away from the last page #}
        {% if end_page < (nb_pages - (3 - 1)) %}
            <div class="item disabled">&hellip;</div>
        {% endif %}

        {# Second to Last Page Link, displays if we are on the third from last page #}
        {% if end_page == (nb_pages - (3 - 1)) %}
            <a class="item" href="{{ route_generator.route((nb_pages - (2 - 1))) }}">{{ (nb_pages - (2 - 1)) }}</a>
        {% endif %}

        {# Last Page Link #}
        {% if nb_pages > end_page %}
            <a class="item" href="{{ route_generator.route(nb_pages) }}">{{ nb_pages }}</a>
        {% endif %}

        {# Next Page Link #}
        {% if pagerfanta.hasNextPage() %}
            <a class="item next" href="{{ route_generator.route(pagerfanta.getNextPage()) }}">{{ 'next'|trans([], 'pagerfanta') }}</a>
        {% else %}
            <div class="item disabled">{{ 'next'|trans([], 'pagerfanta') }}</div>
        {% endif %}
    </div>
{% endapply %}
